.w-full.max-w-md.p-8.space-y-3.rounded-xl.dark\:bg-gray-50.dark\:text-gray-800{
    margin: auto;
    margin-top: 30px;
}

.hidden.md\:flex.flex-col.justify-center.items-center.w-1\/2.text-white.p-10 {
    background-color: #000000;
}

.text-center {
    text-align: center !important;
    color: white;
}

button.block.w-full.p-3.text-center.rounded-md.text-white.bg-violet-600.hover\:bg-violet-700.transition {
    background-color: black;
    border-radius: 15px;
}

.text-error{
    color: red !important;
}

.Notification{
    position: unset;
}